# <center> Basic operators
***

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)



Class exercise:
    Calculate: 2 + 3 * 4 / 5
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first. Operators with the same precedence are evaluated from **left to right**.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

#### Equation1 = $2 + 3 * 4 / 5$
> Step 1. $3 * 4 = 12$  (* & / have the same precedence, but * is farthest to the left)

> Step 2. $12 / 5 = 2.2$

> Step 3. $2 + 2.2 = 4.4$

In [1]:
## Example 1
equation = 2 + 3 * 4 / 5

print("2 + 3 * 4 / 5     = ", equation)

print('-------------------------------')

## Example 2
equation = 2 + ((3 * 4) / 5)
print("2 + ((3 * 4) / 5) = ", equation)
print("""
      i.e. (3*4) = 12
            12/5 = 2.4
           2.4+2 = 4.4
      """)

print('-------------------------------')

## Example 3
equation = (2 + 3) * 4 / 5
print("((2 + 3) * 4 / 5  = ", equation)

2 + 3 * 4 / 5     =  4.4
-------------------------------
2 + ((3 * 4) / 5) =  4.4

      i.e. (3*4) = 12
            12/5 = 2.4
           2.4+2 = 4.4

-------------------------------
((2 + 3) * 4 / 5  =  4.0

In [2]:
## Example to force a sequence of actions

equation = 2 + 3 * 4 ** 2 / 5

print("2 + 3 * 4 ** 2 / 5     = ", equation)

print("""
      i.e. 4**2 = 16
           3*16 = 48
           48/5 = 9.6
           2+9.6 = 11.6
      """)

print('-------------------------------')

equation = 2 + (3 * 4) ** 2 / 5

print("2 + (3 * 4) ** 2 / 5   = ", equation)

print("""
      i.e. 3*4 = 12
         12**2 = 144
         144/5 = 28.8
        2+28.8 = 30.8
      """)

2 + 3 * 4 ** 2 / 5     =  11.6

      i.e. 4**2 = 16
           3*16 = 48
           48/5 = 9.6
           2+9.6 = 11.6

-------------------------------
2 + (3 * 4) ** 2 / 5   =  30.8

      i.e. 3*4 = 12
         12**2 = 144
         144/5 = 28.8
        2+28.8 = 30.8

## Increment (by reassigning variable)
- right-hand-side happens firstm, and then the left-hand-side

In [25]:
planets = 1
print(planets)

1

In [36]:
planets = planets + 1
print(planets)

9

In [37]:
planets += 1
print(planets)

10

In [38]:
planets += 5
print(planets)

15

## Booleans

Scenerio - you have to discover 10 planets before you graduate.

In [39]:
total_planets = 10
print(total_planets < planets)

True

### Why could this be interesting?

In [42]:
if (total_planets < planets) == False:
    print('You can not graduate yet - get back to work!')
else:
    print('Congratulations - it is time to move on!')

Congratulations - it is time to move on!

## Operations with strings

In [43]:
word1 = 'awesome'
print(word1 * number1)

word1 = 'awesome '
print(word1 * number1)

awesomeawesome
awesome awesome

In [47]:
# However, most of the operations won't work
print(word1 + number1)

TypeError: can only concatenate str (not "int") to str

***
Floating Point precision: https://docs.python.org/3.8/tutorial/floatingpoint.html